body {
    background-color: #f8f9fc;
}

html,
body,
main {
    height: 100%;
    margin: 0;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

header {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 70px;
    z-index: 10;
}

header>div {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.grid-container {
    height: 80%;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 0px 0px;
    grid-template-areas: "BSA_main JS PHP PHP""BSA_main JS PHP PHP""BSA_main JS PHP PHP""BSA_main JS NET Events""QA JS NET Events""QA JS NET Blog""QA JAVA NET Con""QA JAVA NET Con";
}

.grid-container div {
    color: #FFFFFF;
    font-family: "Overpass", sans-serif;
}

/*Grid of containers*/
div.BSA_main {
    grid-area: BSA_main;
}

div.QA {
    grid-area: QA;
}

div.JS {
    grid-area: JS;
}

div.JAVA {
    grid-area: JAVA;
}

div.PHP {
    grid-area: PHP;

}

div.NET {
    grid-area: NET;
}

div.Events {
    grid-area: Events;
}

div.Blog {
    grid-area: Blog;
}

div.Contacts {
    grid-area: Con;

}

footer {
    text-align: center;
    font-weight: bold;
    font-size: 1em;
}

@keyframes test-animation {
    from {
        opacity: 0;
        transform: translateY(-70px);
    }

    30% {
        width: 0.2;
    }

    60.8% {
        width: 0.7;
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

header {
    animation-name: test-animation, drop-in;
    animation-direction: normal;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
}

.fa-bell {
    color: lightgray;
    font-size: 2em;
}

.fa-bell:hover {
    color: gray;
}

/* Dropdown menu*/

.user-menu {
    float: right;
    position: relative;
    display: inline-block;
}

input#toggle:checked~menu {
    display: block;
}

/*
.user-menu:hover menu {
    display: block;
}
*/
input#toggle:hover~menu {
    display: block;
}

label {
    background-color: #f8991c;
    color: white;
    font-size: 1em;
    height: 2em;
    width: 2em;
    padding: 0.5em;
    border: none;
    cursor: pointer;
    border-radius: 50%;
}

input[type=checkbox] {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

menu {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding-inline-start: 0px;
}

menu a {
    color: black;
    padding: 2px 3px;
    text-decoration: none;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
}

/**Drop down menu formating elements**/
menu a:hover {
    background-color: #f1f1f1;
}

menu li {
    list-style-type: none;
    display: block;
}

.user {
    color: #bec5cd;
    text-align: center;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid #bec5cd;
}

/*fliping cards*/
.grid-container div {
    background-color: transparent;
    perspective: 1000px;
}

.card {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.9s;
    transform-style: preserve-3d;
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-back {
    align-items: normal;
    justify-content: left;
    font-size: 1.5em;
    color: black;
    padding: 10px;
}

/*for BSA_main*/
.BSA_main:hover .card {
    transform: rotateY(180deg);
}

.card-back.back_BSA_main {
    background-color: #ffffff;
    transform: rotateY(180deg);
    align-items: center;
    justify-content: center;

}

.card-back.back_BSA_main>button {
    background-color: #2d99fe;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 12px 36px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2em;
    margin: 6px 3px;
    cursor: pointer;
}

.card-back.back_BSA_main>button:hover {
    background-color: #0443a3;
}

.card-front.front_BSA_main {
    background-color: #ffffff;
}

.logoCard {
    width: 45%;
}

/*for QA*/
.QA:hover .card {
    transform: rotateY(-180deg);
}

.card-back.back_QA {
    background-color: #ffffff;
    transform: rotateY(-180deg);
    color: black;

}

.card-front.front_QA {
    background-color: #52bf77;
    font-size: 8em;
}

/*for JS*/
.JS:hover .card {
    transform: rotateX(-180deg);
}

.card-back.back_JS {
    background-color: #ffffff;
    transform: rotateX(-180deg);
    font-size: 1.5em;
    color: black;
    padding: 10px;

}

.card-front.front_JS {
    background-color: #f7cf69;
    color: black;
    font-size: 10em;
    font-weight: bolder;
    align-items: flex-end;
    justify-content: flex-end;
}

/*for JAVA*/
.JAVA:hover .card {
    transform: rotateX(180deg);
}

.card-back.back_JAVA {
    background-color: #ffffff;
    transform: rotateX(180deg);
    font-size: 1.5em;
    color: black;
    padding: 10px;

}

.card-front.front_JAVA {
    background-color: #e12b4c;
    font-size: 6em;
}

/*for PHP*/
.PHP:hover .card-back.back_PHP {
    opacity: 1;
}

.PHP:hover .card-front.front_PHP {
    opacity: 0;
}

.card-back.back_PHP {
    opacity: 0;
    background-color: #ffffff;
    font-size: 1.5em;
    color: black;
    padding: 10px;
    transition: all 1s;
}

.card-front.front_PHP {
    opacity: 1;
    background-color: #8893c0;
    color: black;
    font-size: 6em;
    transition: all 1s;
}

/*for NET*/
.NET:hover .card-back.back_NET {
    opacity: 1;
    transform: scale(1);
}

.NET:hover .card-front.front_NET {
    opacity: 0;
    transform: scale(0);
}

.card-back.back_NET {
    opacity: 0;
    background-color: #ffffff;
    font-size: 1.5em;
    color: black;
    padding: 10px;
    transform: scale(0);
    transition: all 1s;
}

.card-front.front_NET {
    opacity: 1;
    background-color: #642077;
    font-size: 8em;
    transform: scale(1);
    transition: all 1s;
}

/*for Events*/
.Events:hover .card-back.back_Events {
    opacity: 1;
    transform: translateX(0px);
}

.Events:hover .card-front.front_Events {
    opacity: 0;
    transform: translateX(-500px);
    z-index: 10;
}

.card-back.back_Events {
    opacity: 0;
    background-color: #ffffff;
    font-size: 1.5em;
    color: black;
    padding: 10px;
    transform: translateX(100px);
    transition: all 1s;
    overflow: scroll;
}

.card-front.front_Events {
    opacity: 1;
    background-color: #2d99fe;
    font-size: 1.5em;
    transform: translateX(0px);
    transition: all 1s;
    z-index: 1;
}

/*for Blog*/
.Blog:hover .card-back.back_Blog {
    opacity: 1;
}

.Blog:hover .card-front.front_Blog {
    opacity: 0;
    transform: translateX(300px);
}

.card-back.back_Blog {
    opacity: 0;
    background-color: #ffffff;
    font-size: 1em;
    color: black;
    padding: 10px;
}

.card-front.front_Blog {
    opacity: 1;
    background-color: #0443a3;
    font-size: 1.5em;
    transform: translateX(0px);
    transition: all 1s;
}

/*for Events*/
.Events:hover .card-back.back_Events {
    opacity: 1;
    transform: translateX(0px);
}

.Events:hover .card-front.front_Events {
    opacity: 0;
    transform: translateX(-100%);
    z-index: 10;
}

.card-back.back_Events {
    opacity: 0;
    background-color: #ffffff;
    font-size: 1.5em;
    color: black;
    padding: 10px;
    transform: translateX(100%);
    transition: all 1s;
    overflow: scroll;
}

.card-front.front_Events {
    opacity: 1;
    background-color: #2d99fe;
    font-size: 1.5em;
    transform: translateX(0px);
    transition: all 1s;
    z-index: 1;
}

/*for Contacts*/
.Contacts:hover .card-back.back_Contacts {
    opacity: 1;
}

.Contacts:hover .card-front.front_Contacts {
    opacity: 0;
    transform: translate(100%, 100%);
}

.card-back.back_Contacts {
    opacity: 0;
    background-color: #ffffff;
    font-size: 4em;
    color:#00255f;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.card-back.back_Contacts i:hover{    
    color:#2d99fe;
}

.card-front.front_Contacts {
    opacity: 1;
    background-color: #00255f;
    font-size: 1.5em;
    transform: translate(0px);
    transition: all 1s;
}